/**
 * @name Catppuccin Mocha
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
**/

@use "sass:math";
@use "@catppuccin/palette/scss/mocha" as *;

$brand: $text;

$base: #111111;
$crust: #111111;
$mantle: #181818;
$text: #cacaca;
$subtext0: #cacaca;
$subtext1: #cacaca;

@import "theme";
.theme-dark {
  @import "@catppuccin/highlightjs/sass/catppuccin-mocha";

  & span[class^="spoilerContent"] {
    background-color: $mantle !important;
    &[class*="hidden"] {
      background-color: $mantle !important;
    }
  }

  /* -- Hide text area buttons ------------------- */
  /* GIF picker */
  * button[aria-label="Open GIF picker"],
  /* Sticker picker */
  * button[aria-label="Open sticker picker"] {
    display: none !important;
  }
  /* -- --------------------- ------------------- */

  /* -- Hide nitro stuff ------------------------ */
  /* Text area gift button */
  * button[aria-label="Send a gift"] {
    display: none !important;
  }
  * ul[aria-label="Direct Messages"] {
    & li {
      /* Nitro tab on left sidebar */
      * a[data-list-item-id*="nitro"],
      /* Shop tab on left sidebar */
      * a[data-list-item-id*="shop"] {
        display: none !important;
      }
    }
  }
  /* Billing settings */
  * div[aria-label="User Settings"] {
    & div:has(+ div[class^="premiumTab"]),
    & div[class^="premiumTab"],
    & div[class^="premiumTab"] + div,
    & div[aria-label="Subscriptions"],
    & div[aria-label="Gift Inventory"],
    & div[aria-label="Gift Inventory"] + div,
    & div[aria-label="Gift Inventory"] + div + div {
      display: none !important;
    }
  }
  /* -- ---------------- ------------------------ */
}
